header{
    @include flex;
    text-align: center;

    @media (min-width: $laptop){
        justify-content: space-around;
    }


    ul{
        @include flex;
        justify-content: space-around;

        @media (min-width: $laptop){
            padding-top: 30px;
        }
    }

    li{
        padding: 5px
    };

    a{
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
        color: $hoverColor;
    }
}