.menu{
    padding: 10px;
    position: relative;

    h2{
        text-align: center;
    }

    ul{
        border-top:solid;
        padding-top: 30px;

        @media (min-width: $laptop){
            max-width: 60%;
            margin: auto;
            padding-top: 75px;
        }
    }

    p{
        padding: 5px 0 15px;

        @media (min-width: $laptop){
            padding: 20px 0;
        }
        }

    img{
        z-index: -2;
        position: absolute;
        width: 100px;
        bottom: 0%;
        right: 0%;
        rotate: -30deg;

        @media (min-width: $laptop){
            width: 200px;
            right: 5%;
            bottom: 5%;
        }
    }
}