.menu{
    padding: 10px;

    h2{
        text-align: center;
    }

    ul{
        border-top:solid;
        padding-top: 30px;

        @media (min-width: $laptop){
            max-width: 60%;
            margin: auto;
            padding-top: 75px;
        }
    }

    p{
        padding: 5px 0 15px;

        @media (min-width: $laptop){
            padding: 20px 0;
        }
    }
}